@import "tailwindcss";

@layer components {
	@keyframes blink {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}

	.animate-blink {
		animation: blink 1.5s step-end infinite;
	}

	.terminal-scrollbar {
		scrollbar-width: thin;
		scrollbar-color: black transparent;
	}

	.command-scrollbar {
		scrollbar-width: thin;
		scrollbar-color: transparent transparent;
	}
}

/* monospace bitmap font */

@font-face {
	font-family: "Terminus";
	src:
		url("../assets/fonts/Terminus.woff2") format("woff2"),
		url("../assets//fonts//Terminus.woff") format("woff");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Terminus";
	src:
		url("../assets/fonts/Terminus-Bold.woff2") format("woff2"),
		url("../assets/fonts/Terminus-Bold.woff") format("woff");
	font-weight: 700;
	font-display: swap;
	font-display: normal;
}

@font-face {
	font-family: "Terminus";
	src:
		url("../assets/fonts/Terminus-Italic.woff2") format("woff2"),
		url("../assets/fonts/Terminus-Italic.woff") format("woff");
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: "Terminus";
	src:
		url("../assets/fonts/Terminus-Bold-Italic.woff2") format("woff2"),
		url("../assets/fonts/Terminus-Bold-Italic.woff") format("woff");
	font-weight: 700;
	font-display: swap;
	font-style: italic;
}
