---
import Window from "../components/window.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main id="window-containers" class="fixed inset-0 h-screen w-screen">
		<Window client:load />
		<Window client:load />
		<Window client:load />
	</main>
</Layout>

<style>
	main {
		contain: layout style paint;
		transform: translateZ(0);
		-webkit-transform: translateZ(0);
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		overflow-y: hidden;
	}

	main > * {
		transform: translate3d(0, 0, 0);
		will-change: transform;
	}

	body {
		overflow: hidden;
		position: fixed;
	}
</style>
