---
import Window from "../components/window.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="max-h-full min-h-full max-w-full min-w-full">
		<Window zIndex={9} client:load />
		<Window zIndex={8} client:load />
		<Window zIndex={7} client:load />
	</div>
</Layout>
