---
import BgPattern from "../components/bg-pattern.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<!-- @TODO: Complete metadata -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="author" content="Faris Saifuddin" />
		<meta
			name="keywords"
			content="Frontend, Engineer, Web, Development, Software, React, Svelte, Nextjs, SvelteKit"
		/>
		<meta name="description" content="Obsessed with design, interface, and optimization" />
		<title>Faris Saifuddin</title>
		<link rel="canonical" href="https://frsswq.com/" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
		<BgPattern />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "Terminus", monospace;
	}
</style>
